header.flex#header
    nav.flex-1.text-right.header-menu.flex
        div.flex-1.header-menu-line
        a(href='/index') 首页
    span
        img.logo(src='/images/logo.png')
        p= title
    nav.flex-1.text-left.header-menu.flex
        a(href='/walls') 文字墙
        div.flex-1.header-menu-line

    script(type='text/javascript').
        !function() {
            var needScroll = 94,
                $header = $('#header'),
                $nav = $('#header > nav');
            $(window).on('scroll', function() {
                var bodyScroll = document.body.scrollTop;
                if(bodyScroll <= needScroll) {
                    $header.css('background', 'rgba(228, 81, 100, ' + bodyScroll / needScroll + ')');
                    $nav.css({'padding-top': 64 + bodyScroll * 33 / needScroll + 'px'});
                    $header.removeClass('fixed');
                } else {
                    $header.css('background', 'rgba(228, 81, 100, 1)');
                    $nav.css({'padding-top': 97 + 'px'});
                    $header.addClass('fixed');
                }
            });
        }();