header.flex#header
    nav.flex-1.text-right.header-menu
        a(href='javascript:void(0);') 首页
    span
        img.logo(src='/images/logo.png')
        | JustLow
    nav.flex-1.text-left.header-menu
        a(href='javascript:void(0);') 更多

script(type='text/javascript').
    $(window).on('scroll', function() {
        var bodyScroll = document.body.scrollTop,
            needScroll = 94,
            $nav = $('#header > nav');
        if(bodyScroll <= needScroll) {
            $nav.css({'padding-top': 64 + bodyScroll * 33 / needScroll + 'px'});
            $('#header').removeClass('fixed');
        } else {
            $nav.css({'padding-top': 97 + 'px'});
            $('#header').addClass('fixed');
        }
    });