extends ../layout/default

block title
    title index

block content
    include ../widget/header

    div(class='page-container', ng-app='testapp')
        div(ng-controller='testctrl')
            ul
                li(ng-repeat='person in personList')
                    | {{ person.name }}
                    p {{ person.age }}

    include ../widget/footer
    - var usersStr = JSON.stringify(users)
    script(type='text/javascript').
        var users = eval('(' + '#{usersStr}'.replace(/&quot;/g, '"') + ')');
        var app = angular.module('testapp', []);
        app.controller('testctrl', function($scope) {
            $scope.personList = users;
        });
