extends ../layout/default

block title
    title=title

block css
    link(rel='stylesheet', href='/css/index.css')

block js
    script(src='/js/writeHere.js')

block content
    include ../widget/header

    div.page-container(ng-controller='pagectrl')

    script(type='text/javascript').
        JustLow
                .controller('pagectrl', function($scope, inputArray) {
                    $scope.inputArray = inputArray.query();
                    $('.page-container').writeHere({
                        fontFamilies: ['guaiguai'],
                        inputCallback: function(value, style) {
                            console.log(value);
                            console.log(style);
                        }
                    });
                });