extends ../layout/default

block title
    title=title

block css
    link(rel='stylesheet', href='/css/index.css')

block js
    script(src='/js/writeHere.js')

block content
    include ../widget/header

    div.page-container(ng-controller='pagectrl')
        span(ng-repeat='input in inputArray', style='{{input.style}}') {{input.text}}

    script(type='text/javascript').
        JustLow
                .controller('pagectrl', function($scope, inputArray, addInput) {
                    $scope.inputArray = inputArray.query();

                    $('.page-container').writeHere({
                        fontFamilies: ['guaiguai'],
                        inputCallback: function(value, style) {
                            var create_time = new Date().getTime();
                            addInput.save({
                                text: value,
                                style: style,
                                create_time: create_time
                            }, function(res) {
                                console.log(res);
                            });
                        }
                    });
                });