extends ../layout/default

block title
    title=title

block css
    link(rel='stylesheet', href='/css/index.css')

block js
    script(src='/js/writeHere.js')

block content
    include ../widget/header

    div.page-container(ng-controller='testctrl')
        ul.user-list.flex.text-center.text-unused(ng-hide='true')
            li.flex-1(ng-repeat='person in personList') {{ person.name }}

    script(type='text/javascript').
        JustLow
                .controller('testctrl', function($scope, userList) {
                    $scope.personList = userList.query();
                });
        $('.page-container').writeHere({
            fontFamilies: ['guaiguai']
        });
