extends ../layout/default

block title
    title=title

block content
    include ../widget/header

    div(class='page-container')
        ul(ng-controller='testctrl')
            li(ng-repeat='person in personList')
                | {{ person.name }}
                p {{ person.age }}

    include ../widget/footer

    script(type='text/javascript').
        JustLow
            .controller('testctrl', function($scope, userList) {
                $scope.personList = userList.query();
            });
