extends ../layout/default

block title
    title=title

block css
    link(rel='stylesheet', href='/css/index.css')
    style.
        .page-container {
            position: relative;
            margin: 158px auto 0;
            width: 50%;
            min-width: 600px;
        }
        .delete-content, .add-content {
            padding: 0 15px;
        }
        .add-content {
            line-height: 27px;
        }
        .add-input {
            padding: 5px 8px;
            border: 1px solid #E7616A;
            outline: none;
        }
        .add-input.ng-invalid {
            background-color: #E7BEC8;
        }

block js
    script(src='/js/filter.js')
    script(type='text/javascript').
        JustLow
                .config(function($routeProvider) {
                    $routeProvider
                            .when('/delete/:_id', {
                                templateUrl: 'deleteWall.html',
                                controller: 'deleteWallCtrl'
                            }).when('/add', {
                                templateUrl: 'addWall.html',
                                controller: 'addWallCtrl'
                            }).otherwise({
                                redirectTo: '/'
                            });
                });

block content
    include ../widget/header

    div.page-container(ng-controller='pagectrl')
        ul.list
            li.text-normal(ng-repeat='wall in walls')
                a(href='/walls/{{wall.name | decodeURI}}') {{wall.name | decodeURI}}
                a.delete-btn(href='#/delete/{{wall._id}}') &times;
            li.text-center
                a(href='#/add')
                    span.text-bold +&nbsp;
                    | 新墙
        div.dialog-shadow.ng-hide(ng-show='dialogIsShow', ng-view)

    script(type='text/ng-template', id='deleteWall.html')
        div.dialog
            div.dialog-header
                p.dialog-title 删除文字墙
                a.dialog-close(href='javascript:void(0);', ng-click='changeDialogShow()') &times;
            div.dialog-body
                div.delete-content
                    p 确认删除这个墙？
            div.dialog-footer
                a(href='javascript:void(0);', ng-click='changeDialogShow()') 取消
                a(href='javascript:void(0);', ng-click='deleteWall()') 确定

    script(type='text/ng-template', id='addWall.html')
        div.dialog
            div.dialog-header
                p.dialog-title 添加文字墙
                a.dialog-close(href='javascript:void(0);', ng-click='changeDialogShow()') &times;
            div.dialog-body
                div.add-content
                    form.flex(name='addForm', novalidate)
                        label 文字墙名称：
                        input.add-input.flex-1(type='text', ng-model='wallName', required)
            div.dialog-footer
                a(href='javascript:void(0);', ng-click='changeDialogShow()') 取消
                a(href='javascript:void(0);', ng-click='addWall()') 确定

    script(type='text/javascript').
        JustLow
                .controller('pagectrl', function($scope, $rootScope, inputWallArray, $location) {
                    $rootScope.walls = inputWallArray.query();
                    $rootScope.dialogIsShow = false;
                    $rootScope.changeDialogShow = function() {
                        $rootScope.dialogIsShow = false;
                        $location.path('#/');
                    };
                })
                .controller('deleteWallCtrl', function($scope, $rootScope, $routeParams, deleteWall, inputWallArray) {
                    $rootScope.dialogIsShow = true;
                    $scope.deleteWall = function() {
                        deleteWall.delete({_id: $routeParams._id}, function(res) {
                            if(res.ok) {
                                $rootScope.walls = inputWallArray.query();
                                $rootScope.dialogIsShow = !$rootScope.dialogIsShow;
                            }
                        });
                    };
                })
                .controller('addWallCtrl', function($scope, $rootScope) {
                    $rootScope.dialogIsShow = true;
                    $scope.addWall = function() {
                        if($scope.addForm.$valid) {
                            window.location.href = '/walls/' + $scope.wallName;
                        }
                    };
                });
