@font-face {
    font-family: guaiguai;
    src: url("../fonts/guaiguai.ttf");
}
header {
    position: absolute;
    top: 0;
    z-index: 99;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    background: transparent;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -ms-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
}
header.fixed {
    position: fixed;
    top: -94px;
    background: rgba(231, 97, 106, 0.9);
}
header >  span {
    font-size: 38px;
    color: #ac3644;
    font-weight: bolder;
}
header.fixed > span, header.fixed .header-menu a {
    color: #eee;
}
header .logo {
    display: block;
    margin: 0 auto;
    width: 100px;
}
header .header-menu {
    padding: 64px 45px 0;
}
header .header-menu a {
    padding: 8px 20px;
    font-size: 16px;
    color: #e45164;
}
header .header-menu a:hover {
    color: #ac3644;
}
.page-container {
    position: relative;
    margin-top: 158px;
    height: 800px;
}
.user-list {
    margin: 15px 0;
    width: 100%;
}
.user-list li {
    float: left;
}
