@font-face {
    font-family: guaiguai;
    src: url("../fonts/guaiguai.ttf");
}
html, body {
    height: 100%;
}
body {
    color: #ac3644;
    background: #FFFFFF url('../images/background/index_bg.png') no-repeat fixed top;
    background-size: 100% auto;
}
header {
    position: absolute;
    top: 0;
    z-index: 99;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    background: rgba(228, 81, 100, 0);
}
header.fixed {
    position: fixed;
    top: -94px;
}
header > span {
    padding: 0 25px;
    font-size: 38px;
    font-weight: bolder;
}
header.fixed > span, header.fixed .header-menu a {
    color: #eee;
}
header .logo {
    display: block;
    margin: 0 auto;
    width: 100px;
}
header .header-menu {
    position: relative;
    margin: 0 20px;
    padding-top: 64px;
}
header .header-menu:first-child {
    background: url('../images/background/header_left.png') no-repeat;
    background-size: auto 64px;
}
header .header-menu:last-child {
    background: url('../images/background/header_right.png') no-repeat;
    background-size: auto 64px;
}
header .header-menu .header-menu-line {
    margin-top: 16px;
    height: 2px;
    background-color: #e45164;
}
header.fixed .header-menu .header-menu-line {
    background-color: #eee;
}
header .header-menu a {
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
}
.page-container, .dialog-shadow {
    padding-top: 158px;
}
.page-container {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 32px;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
footer {
    width: 100%;
    background-color: #e45164;
}
footer > p {
    padding: 8px 15px;
    color: #FFFFFF;
    text-align: center;
}
