@font-face {
    font-family: guaiguai;
    src: url("../fonts/guaiguai.ttf");
}
header {
    position: absolute;
    top: 0;
    z-index: 99;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    background: rgba(213, 97, 106, 0);
}
header.fixed {
    position: fixed;
    top: -94px;
}
header > span {
    padding: 0 25px;
    font-size: 38px;
    color: #ac3644;
    font-weight: bolder;
}
header.fixed > span, header.fixed .header-menu a {
    color: #eee;
}
header .logo {
    display: block;
    margin: 0 auto;
    width: 100px;
}
header .header-menu {
    position: relative;
    margin: 0 20px;
    padding-top: 64px;
}
header .header-menu .header-menu-line {
    margin-top: 16px;
    height: 2px;
    background-color: #e45164;
}
header.fixed .header-menu .header-menu-line {
    background-color: #eee;
}
header .header-menu a {
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
}
.page-container {
    position: relative;
    margin-top: 158px;
    height: 800px;
}
