body {
    background-color: #372c3c;
}
header {
    position: absolute;
    top: 0;
    z-index: 99;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    background: transparent;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}
header.fixed {
    position: fixed;
    top: -94px;
    background: #4b354c;
}
header >  span {
    font-size: 38px;
    color: #ac3644;
    font-weight: bolder;
}
header .logo {
    display: block;
    margin: 0 auto;
    width: 100px;
}
header .header-menu {
    padding: 64px 45px 0;
}
.header-menu a {
    padding: 8px 20px;
    font-size: 16px;
    color: #e45164;
}
.header-menu a:hover {
    color: #ac3644;
}
.page-container {
    margin-top: 158px;
    height: 800px;
}
.user-list {
    margin: 15px 0;
    width: 100%;
}
.user-list li {
    float: left;
}
