doctype html
html
  head
    block title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/common.css')
    block css
    script(src='/js/libs/angular.min.js')
    block js
  body
    block content
